@model ProjectDashboard.Models.ViewStoriesOptions
@using (Html.BeginForm(new { Layout = "pdf" }))
{
    <fieldset>
        <div>
            @Html.EditorFor(i => i.IncludeStatus)
            @Html.LabelFor(i => i.IncludeStatus, new { @class = "checkbox" })
        </div>
        <div>
            @Html.EditorFor(i => i.IncludeTasks)
            @Html.LabelFor(i => i.IncludeTasks, new { @class = "checkbox" })
        </div>
        <div>
            @Html.EditorFor(i => i.IncludeComments)
            @Html.LabelFor(i => i.IncludeComments, new { @class = "checkbox" })
        </div>
    </fieldset>
    <fieldset>
        <button>Download PDF</button>
    </fieldset>
}
