@using ProjectDashboard.Domain
@model IList<Story>

<table>
    <tr>
            <td>ID</td>
            <td>Text</td>
            <td>Priority</td>
            <td>Status</td>
            <td>Estimate</td>
            <td>Actual</td>
    </tr>
    
    @foreach (var story in Model)
    {
        <tr>
            <td>@story.ID</td>
            <td><a href="http://@story.Link">@story.Text</a></td>
            <td>@story.Priority</td>
            <td>@story.Status</td>
            <td>@story.Estimate</td>
            <td>@Math.Round(story.Actual,2)</td>
        </tr>
    }
</table>