@model ProjectDashboard.Models.StoryListModel
@using ProjectDashboard.Model.Stories
@{
    var allTags = (Model.Stories ?? new List<Story>()).SelectMany(i => i.Tags).Distinct().ToList();
}
@if (allTags.Any())
{
    <ul class="tags">
        @foreach (var tag in allTags)
        {
            <li>
                @RazorHelper.OpenTag("h" + Model.RootHeaderLevel)
                @tag.Capitalise()
                @RazorHelper.CloseTag("h" + Model.RootHeaderLevel)
                @ShowStories(Model.Stories.Where(i => i.Tags.Contains(tag)).ToList(), Model.RootHeaderLevel + 1, false)
            </li>
        }
    </ul>
}
else
{
    @ShowStories(Model.Stories, Model.RootHeaderLevel)
}

@helper ShowStories(IList<Story> stories, int headerLevel, bool showTags = true){
    if (stories != null && stories.Any())
    {
        <ul class="stories">
            @foreach (var story in stories)
            {
                <li>
                    @RazorHelper.OpenTag("h" + headerLevel)
                    <a href="@story.Link">@story.Text</a>
                    @RazorHelper.CloseTag("h" + headerLevel)
                    @if (showTags && story.Tags.Any())
                    {
                        <p class="tags">@string.Join("; ", story.Tags)</p>
                    }
                    <p class="attributes">
                        <span class="id">#@story.Id</span>
                        @if (Model.ViewOptions.IncludeStatus)
                        {
                            <span class="status">@story.Status</span>
                        }
                    </p>
                    <div class="description">@Html.Markdown(story.Details).RenumberHeadings(headerLevel + 1)</div>
                    @if (Model.ViewOptions.IncludeTasks && story.Tasks.Any())
                    {
                        @RazorHelper.OpenTag("h" + (headerLevel + 1))
                        @:Tasks
                        @RazorHelper.CloseTag("h" + (headerLevel + 1))
                        <ul class="tasks">    
                            @foreach (var task in story.Tasks)
                            {
                                <li>
                                    <span @RazorHelper.ClassAttribute("task" + (task.Complete ? " completeTask" : null))>@task.Text</span>
                                    @if (task.Complete)
                                    {
                                        <text>by <em>@task.FinishedBy</em> at <time>@task.FinishedDate.Value.ToString("dd/MM/yyyy HH:mm")</time></text>
                                    }
                                </li>
                            }
                        </ul>
                    }
                    @if (Model.ViewOptions.IncludeComments && story.Comments.Any())
                    {
                        @RazorHelper.OpenTag("h" + (headerLevel + 1))
                        @:Comments
                        @RazorHelper.CloseTag("h" + (headerLevel + 1))
                        <ul class="comments">    
                            @foreach (var comment in story.Comments)
                            {
                                <li>
                                    <p>@comment.Text</p>
                                    <p><em>@comment.Who</em> at <time>@comment.Date.ToString("dd/MM/yyyy HH:mm")</time></p>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    }
}
