@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               your project dashboard
            </p>
        </div>
    </section>
}
<h3>Total time spent on stories</h3>
@Model.TotalActual

<h3>Among completed stories, the average accuracy of the estimate was:</h3>
@{ Html.RenderAction("CompletedStoryAverageEstimateAccuracy"); } %

<p>i.e. we completed @Model.TotalCompleteEstimateValue days worth of work in @Model.TotalCompleteActualValue days</p>

<h3>Total time spent on 'other stuff'</h3>
@{ Html.RenderAction("TimeSpentOnOtherStuff"); } 

<h3>If this situation continues we will need</h3>
<p>days that are not complete * -27% * 20%</p>

<div id="estimates">
@{ Html.RenderAction("ShowEstimates"); }
</div>


<h2>Filter By Tag</h2>

@using (Html.BeginForm("ShowEstimates", "Home", FormMethod.Post, new { id = "form-tag-filter" }))
{
    @Html.DropDownList("tags", Model.Tags as SelectList)
    <input type="submit" value="Go" />
}

@using (Html.BeginForm("TakeSnapshot", "Home", FormMethod.Post))
{
    <input type="submit" value="Take Snapshot" />
}

<div id="recent-stories">
@{ Html.RenderAction("ShowLatestStories"); }
</div>


<div id="recent-comments">
@{ Html.RenderAction("ShowLatestComments"); }
</div>

<div id="complete-stories">
<h2>completed stories</h2>
@{ Html.RenderAction("ShowCompletedStories"); }
</div>

<div id="timezone-entries">
@{ Html.RenderAction("ShowNonStoryTimeZoneEntries"); }
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />

<p>convert to codebase (On completion?)</p>

<p>switch between days an hours?</p>

<p>stories that have been worked on for too long</p>

<p>stories that have been in the working column with no progress</p>

<p>stories changed by client</p>

<p>estimated project completion date</p>

<p>people in project</p>

<p>Link to successful acceptance test?</p>


@section scripts {
    
 <script>
     $(function () {
        
         $('#form-tag-filter').submit(function () {

             var dataString = 'tagFilter=' + $("#tags").val()

             PostAjax(this.action, this.method, dataString, '#estimates');

             return false;
         });

         $('.post-actual').submit(function () {

             var ID = $(this).find('input[name=storyID]').val();

             var dataString = 'storyID=' + ID  + "&Actual=" + $(this).find('input[name=Actual]').val()
                        
             PostAjax(this.action, this.method, dataString, '#actual' + ID );

             return false;
         });

     });

     function PostAjax(action, method, dataString, resultID) {

         $.ajax({
             url: action,
             type: method,
             data: dataString,
             success: function (result) {

                 $(resultID).html(result);
                 //$('#estimates').html(result);
             }
         });
     }

    </script>
    
}