@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               your project dashboard
            </p>
        </div>
    </section>
}
<h3>Stories</h3>
<p>@Html.ActionLink("Download as PDF", "DownloadStories")</p>

<h3>Summary</h3>
<p>In total we have spent <strong>@Model.TotalActual</strong> days working directly on stories</p>

<p>We have spent a further @{ Html.RenderAction("TimeSpentOnOtherStuff"); } doing stuff like meetings, prep for meetings, general management overhead and so on.</p>



<p>We have completed work that we estimated would take <strong>@Model.TotalCompleteEstimateValue</strong> days in <strong>@Model.TotalCompleteActualValue</strong> days</p>

<p>This means that roughly speaking we took <strong>@Model.EstimateAccuracy%</strong> of the time we expected to take.</p>
 
<p>Looking ahead, if we assume that stories being worked on are roughly <strong>50%</strong> complete, and our actuals continue to be <strong>@Model.EstimateAccuracy%</strong> of our estimates, and that we continue to have a <strong>@Model.OtherStuffOverheadPercentage%</strong> management overhead, we will need <strong>@Model.DaysToCompletion</strong> more days to complete phase 1</p>



<div id="estimates">
@{ Html.RenderAction("ShowEstimates"); }
</div>

<h3>Burnup charts!</h3>
<img src="/images/chart1.png" />
<br />
<img src="/images/chart2.png" />